@page
@model Binned.Pages.User.OrderDetailsModel
@{
}
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Confirm receival of order</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                I have received my order
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <form method="post">
                    <button class="btn me-3 w-100" type="submit" aria-disabled="true" style="background-color:#71805D;color:#FFFFFF;font-size:16px;">Order received</button>
                </form>
            </div>
        </div>
    </div>
</div>

<h2 class="my-4"><a class="text-decoration-none text-reset me-3" href="/User/Orders"><</a>#@Model.OneOrder.OrderId</h2>
<div class="card h-25 mt-3 border border-0" style="background-color:#f1dbdb;">
    <div class="card-body border border-0">

        <div class="row">
            <div class="col-10 ps-5 pt-2">
                <div class="row h4">
                    Order Date: @Model.OneOrder.OrderDate.ToShortDateString()
                </div>
                <div class="row h4">
                    Order Status: @Model.OneOrder.Status
                </div>
                <div class="row h4">
                    Delivery Address:
                </div>
                <div class="row" style="font-size:18px;">
                    @Model.OneOrder.FirstName @Model.OneOrder.LastName
                </div>
                <div class="row" style="font-size:18px;">
                    <div class="ps-0">
                        @Model.OneOrder.Address, @Model.OneOrder.PostalCode
                    </div>
                </div>
                <div class="row">
                    <div class="ps-0" style="font-size:18px;">
                        @Model.OneOrder.Address2
                    </div>
                </div>
            </div>
            <div class="col-2 d-flex flex-column justify-content-end pe-4">
                @{
                    @if (Model.OneOrder.Status == "To Receive")
                    {
                        <button class="btn me-3 w-100" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" style="background-color:#71805D;color:#FFFFFF;font-size:16px;">Order received</button>
                    }
                }
                @{
                    @if (Model.OneOrder.Status == "To Pay")
                    {
                        <a class="btn me-3 w-100" asp-page="/Payment/Payment" asp-route-id="@Model.OneOrder.OrderId" style="background-color:#71805D;color:#FFFFFF;font-size:16px;">Make Payment</a>
                    }
                }
            </div>

        </div>
        <div class="row mx-5 my-4 ">
            <div class="border-bottom border-dark opacity-50">
            </div>
        </div>
        @{
            @foreach (var item in Model.OneOrder.Products)
            {
                <div class="row mt-3 mx-3">
                    <div class="col-2">
                        @if (item.ImageURL != null)
                        {
                            <img src="@item.ImageURL" alt="Poster" class="img-fluid"
                         onerror="this.src='/uploads/placeholder.jpeg'">
                        }
                    </div>
                    <div class="col-10" style="font-size:16px;">
                        <span class="h5">@item.ProductName x 1</span>
                        <br>
                        Size: @item.ProductSize
                        <br>
                        $@item.ProductPrice
                    </div>
                </div>
            }
        }
        @if (Model.OneOrder.PromoCode != null)
        {
            <div class="row my-3 me-5 d-flex flex-row justify-content-end">
                Subotal: $@Model.subtotal
            </div>
            <div id="total" class="row my-3 me-5 d-flex flex-row justify-content-end text-success">
                Discount (@Model.OneOrder.PromoCode.Name): 
            </div>
            <div class="row my-3 me-5 d-flex flex-row justify-content-end h5">
                Total: $@Model.OneOrder.Amount
            </div>
        }
        else
        {
            <div class="row my-3 me-5 d-flex flex-row justify-content-end h5">
                Total: $@Model.OneOrder.Amount
            </div>
        }


    </div>
</div>

<script>
    if (@Model.subtotal != null) {
        var total = @Model.OneOrder.PromoCode.Discount * @Model.subtotal
            console.log(total)
        $("#total").append("-$" + total.toFixed(2))
    }

</script>