@page
@model Binned.Pages.Products.IndexModel
@{
    ViewData["Title"] = "Products";
}
<h1 class="display-4">@ViewData["Title"]</h1>

<table class="table mt-3">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.ProductList[0].ProductId)</th>
            <th>@Html.DisplayNameFor(model => model.ProductList[0].ProductName)</th>
            <th>@Html.DisplayNameFor(model => model.ProductList[0].ProductSize)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            @foreach (var item in Model.ProductList)
            {
                <tr>
                    <td>@item.ProductId</td>
                    <td>@item.ProductName</td>
                    <td>@item.ProductSize</td>
                    <td>
                        <a asp-page="/Products/Details" asp-route-id="@item.ProductId">View</a>
                    </td>
                    <td>
                        <form asp-page-handler="AddToWishlist" method="post" name="addToWishlistForm" id="add_wishlist_form">
                            <a href="javascript:;" onclick="parentNode.submit();" class="btn btn-warning">
                                <i class="bi bi-heart"></i>
                            </a>
                            <input type="hidden" asp-for="@item.ProductId" name="productId" />
                        </form>
                    </td>
                    <td>
                        <form asp-page-handler="AddToCart" method="post" name="addToCartForm" id="add_cart_form">
                            <a href="javascript:;" onclick="parentNode.submit();" class="btn btn-info">
                                <i class="bi bi-cart"></i>
                            </a>
                            <input type="hidden" asp-for="@item.ProductId" name="productId" />
                        </form>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<a class="btn btn-primary mt-3" href="/Products/AddProduct">Add Products</a>