@page
@model Binned.Pages.Payment.CheckoutModel
@Html.AntiForgeryToken()
@{
    ViewData["Title"] = "Your cart";
    // add validation https://learn.microsoft.com/en-us/aspnet/web-pages/overview/ui-layouts-and-themes/validating-user-input-in-aspnet-web-pages-sites
}

<div class="container">
    <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3 mt-4">
                <span class="text-muted">@ViewData["Title"]</span>
                @*<span class="badge badge-secondary badge-pill">@Model.OneCart.Items.Count</span>*@
            </h4>
            <ul id="myList" class="list-group mb-3 sticky-top">
                @foreach (var item in Model.OneCart.Items)
                {
                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                            <h6 class="my-0">@item.Product.ProductName</h6>
                        </div>
                        <span class="text-muted">$@item.Price</span>
                    </li>
                }
                @*<li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                <h6 class="my-0">Second product</h6>
                <small class="text-muted">Brief description</small>
                </div>
                <span class="text-muted">$8</span>
                </li>
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div>
                <h6 class="my-0">Third item</h6>
                <small class="text-muted">Brief description</small>
                </div>
                <span class="text-muted">$5</span>
                </li>*@
                <li id="totalList" class="list-group-item d-flex justify-content-end">
                    <span class="mx-2">Total (SGD)</span>

                    <strong id="totalBefore">$@Model.OneCart.TotalPrice</strong>

                </li>
            </ul>
            <span id="invalidCode" class="text-danger"></span>
            <div class="input-group">
                <input id="code" type="text" class="form-control" placeholder="Promo code" oninput="this.value = this.value.toUpperCase()">
                <div class="input-group-append">
                    <button id="redeem" class="btn btn-secondary">Redeem</button>
                </div>
            </div>
        </div>
        <div class="col-md-8 order-md-1">
            <h4 class="my-4"><a class="text-decoration-none text-reset me-3" href="/User/Cart"><</a>Billing address</h4>
            <form method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="row">
                    <input id="totalAfter" asp-for="totalAmt" type="hidden" />
                    <div class="col-md-6 mb-3">
                        <label for="firstName">First name</label>
                        <input type="text" class="form-control" asp-for="ShippingInfo.FirstName">
                        <span asp-validation-for="ShippingInfo.FirstName" class="text-danger"></span>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="lastName">Last name</label>
                        <input type="text" class="form-control" asp-for="ShippingInfo.LastName">
                        <span asp-validation-for="ShippingInfo.LastName" class="text-danger"></span>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="email">Email <span class="text-muted"></span></label>
                    <input type="email" class="form-control" placeholder="you@example.com" asp-for="ShippingInfo.Email" />
                    <span asp-validation-for="ShippingInfo.Email" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="address">Address</label>
                    <input type="text" class="form-control" placeholder="1234 Main St" asp-for="ShippingInfo.Address" />
                    <span asp-validation-for="ShippingInfo.Address" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="address">Address Line 2</label>
                    <input type="text" class="form-control" placeholder="1234 Main St" asp-for="ShippingInfo.Address2" />
                    <span asp-validation-for="ShippingInfo.Address2" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="postal">Postal Code</label>
                    <input type="text" value="" class="form-control" placeholder="123456" asp-for="ShippingInfo.PostalCode">
                    <span asp-validation-for="ShippingInfo.PostalCode" class="text-danger"></span>
                </div>

                <hr class="mb-4">
                @if (@Model.OneCart.TotalPrice > 0)
                {
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Continue to checkout</button>
                }
                else
                {
                    <button type="submit" class="btn btn-secondary btn-lg btn-block" disabled data-bs-toggle="button">Cart Empty</button>
                }

            </form>
        </div>
    </div>
</div>
<script>
    var val1
    $('#totalAfter').val(@Model.OneCart.TotalPrice)
    $("#redeem").click(function () {
        val1 = $("#code").val()
        console.log(val1)
        $.ajax({
            type: "GET",
            url: "/Payment/Checkout?handler=Code",
            data: { name: val1 },
            dataType: "text",
            headers: {
                RequestVerificationToken:
                    $('input:hidden[name="__RequestVerificationToken"]').val()
            }
        }).done(function (result) {
            obj = JSON.parse(result);
            var discount = obj["code"]
            if (discount != 0) {
                if (!$('#promoItem').length) {
                    $("#myList").find(' > li:nth-last-child(1)').before('<li id="promoItem" class="list-group-item d-flex justify-content-between bg-light"><div class="text-success"><h6 class="my-0">Promo code</h6><small id="codetext">EXAMPLECODE</small></div><span id="discountValue" class="text-success">-$5</span></li>')
                }
                var total = @Model.OneCart.TotalPrice
                $('#discountValue').text("-$" + (discount * total).toFixed(2))
                total = (total * (1 - discount)).toFixed(2)
                $('#totalBefore').text("$" + total)
                $('#codetext').text(val1)
                $('#totalAfter').val(total)
                $('#redeem').addClass('disabled');
            }
            else{
                $("#invalidCode").text("Invalid code")
            }
        });
    });
    $('#code').keyup(function () {
        $('#redeem').removeClass('disabled')
    });
</script>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
  }
